{% include 'header.html.twig' %}

<div id="content" class="narrowcolumn">
    <h2 class="center">{{ __('Error 404 - Not Found', 'kubrick') }}</h2>
</div>


{% include 'sidebar.html.twig' %}

{% include 'footer.html.twig' %}
